<div>
    <div class="row pad-10 text-center">
        <form role="form" class="form-inline" name="restaurantForm" novalidate>
            <div class="form-group" ng-class="{'has-error': restaurantForm.loc.$invalid && restaurantForm.loc.$dirty}">
                <label class="sr-only" for="loc">Location</label>
                <input type="text" class="form-control" id="loc" name="loc" ng-model="formData.location" placeholder="City,State" required>
            </div>
            <button class="btn btn-primary" ng-click="findRestaurantFromList()"><i class="fa fa-search"></i> Search My List</button>
            <button class="btn btn-primary" ng-click="findRestaurantFromYelp()"><i class="fa fa-yelp"></i> Search Yelp</button>
         </form>

    </div>
    <div class="row text-center" ng-if="message">
        <p class="errorMessage">{{message}}</p>
    </div>
    <hr>
    <div ng-if="searching" class="page-spinner-bar">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="row text-center" ng-if="restaurant">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="portlet box green-haze text-center">
            <div class="portlet-title">
              <div class="caption">
                {{restaurant.name}}
              </div>
            </div>
            <div class="portlet-body">
              <div class="panel-body">
                <img ng-src="{{restaurant.image_url}}"/>
                <address>{{restaurant.location.display_address[0]}}</br>{{restaurant.location.display_address[1]}}</address>
                <img ng-src="{{restaurant.rating_img_url_small}}"/>
              </div>
              <ul class="list-group">
                <li class="list-group-item">{{restaurant.display_phone}}</li>
                <li class="list-group-item"><button class="btn btn-primary" ng-click="eatAtRestaurant(restaurant)">Eat Here</button>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
