<div>
    <div ng-if="loading" class="page-spinner-bar">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="row text-center" ng-if="results.length == 0">
        <span>No Restaurants in Your List</span>
    </div>
    <div class="row" ng-repeat="i in range">
        <div class="col-sm-4" ng-repeat="item in filteredResults.slice(i,i+3)">
          <div class="portlet box green-haze text-center">
            <div class="portlet-title">
              <div class="caption">
                {{item.name}}
              </div>
            </div>
            <div class="portlet-body">
              <div class="panel-body">
                <img ng-src="{{item.image_url}}"/>
                <address>{{item.location.display_address[0]}}</br>{{item.location.display_address[1]}}</address>
                <img ng-src="{{item.rating_img_url_small}}"/>
              </div>
              <ul class="list-group">
                <li class="list-group-item">{{item.display_phone}}</li>
                <li class="list-group-item"><button class="btn btn-primary" ng-click="removeFromList(item)">Remove From List</button>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="row text-center" ng-if="results.length > 0">
        <pagination total-items="results.length"
                    ng-model="data.currentPage"
                    max-size="maxSize"
                    class="pagination-sm"
                    items-per-page="numPerPage"
                    ng-change="pageChanged()"></pagination>
    </div>
</div>
